//COLORS

$color-grey-dark: rgb(30, 27, 27);
$color-grey-medium: rgb(141, 129, 129);
$color-grey-light: rgb(246, 246, 246);

$color-green-dark: rgb(55, 145, 36);
$color-green-medium: rgb(121, 203, 104);
$color-green-light: rgb(166, 225, 153);
