* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 100%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
  color: #1e1b1b;
  background-color: #f6f6f6; }

.header__box {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid #8d8181; }

.heading--1 {
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  background-image: linear-gradient(to top left, #379124, #a6e199);
  -webkit-background-clip: text;
  color: transparent; }

.section {
  padding: 3rem 8rem; }

.slider {
  max-width: 75rem;
  height: 50rem;
  margin: 5rem auto;
  position: relative;
  box-shadow: 1rem 1rem 30px gray;
  overflow: hidden; }
  .slider__slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.7s; }
    .slider__slide--img {
      height: 100%;
      width: 100%;
      border-radius: 2px;
      object-fit: cover; }
  .slider__btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    height: 5rem;
    width: 5rem;
    border: none;
    border-radius: 100%;
    background-color: #1e1b1b;
    opacity: 0.7;
    color: whitesmoke;
    font-size: 2.5rem;
    outline: none;
    cursor: pointer; }
    .slider__btn--left {
      left: 3%; }
    .slider__btn--right {
      right: 3%; }
  .slider__squares-box {
    margin: -3rem auto;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .slider__square {
    margin: 0 auto;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #8d8181;
    cursor: pointer; }
    .slider__square--active {
      background-color: #1e1b1b; }

.header {
  padding: 3rem 5rem; }
