* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include media-respond(tab-port) {
    font-size: 50%;
  }
  @include media-respond(phone) {
    font-size: 45%;
  }
  @include media-respond(big-scrn) {
    font-size: 100%;
  }
}

body {
  box-sizing: border-box;
  padding: 2rem;

  @include media-respond(tab-land) {
    padding: 1rem;
  }
  @include media-respond(tab-port) {
    padding: 0;
  }
}
